.mainWrapper {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #da968a 0%, #ebe8a4 35%, #cfb69a 80%, #bb7deb 100%);
  
}


.bodyDiv {
  display: flex;
  padding: 8px;
  gap: 8px;
}
