/*side bar style*/
.sidebar {
  width: clamp(50px,8vw,2000px);
  min-height: 90vh;

  border: 1px solid rgb(250, 242, 242);
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.287) ;
  backdrop-filter: blur(10px);
}

.sidebarItem{
  display: flex;
  align-items: center;
  gap:5px;
  padding: 10px;
  border-radius: 12px;
  width: 100%;
  text-decoration: none;
  transition: background-color 0.4s ease;
}

.sidebarItem:hover{
  background-color: rgba(240, 248, 239, 0.653);
  font-weight: bolder;
}

.sidebarItem span{
  font-size: clamp( 0.5rem , 1vw, 1rem);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(124, 123, 123, 0.5);
  z-index: 999;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 250px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.287) ;
    backdrop-filter: blur(10px);
    transition: all .5s ease-in-out;
    z-index: 999;
  }

  .open {
    transform: translateX(0);
   }
}
  
.closeBtn {
  display: none;
}

@media (max-width:768px) {
  .closeBtn {
    display: block;
    margin-left: auto;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    background: none;
    cursor: pointer;
  }
}
